
  <!-- Modal Structure -->
  <div id="modal" class="modals hidden" align="center">
    <div class="modal-content">
        
    </div>
    <div class="modal-footer" align="center">
    </div>
  </div>

 