
<section id="dashboard">
    <div class="container">
        <div id="profile-data" {{#if profile}} {{else}}class="hide"{{/if}}>
            <h2>Hello <span id="fullName">{{fullName}}</span></h2>
            <p id="birthday">{{birthday}}</p>
        </div> 
    {{#unless profile}}
        <div>
            <form class="col s12" id="profile-form">
                <h2>Hello Welcome to Buzz Happy</h2>
                <p>Please tell us more about you!</p>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="user-name" type="text" class="validate profile-input" name="fullName" required value={{fullName}}>
                        <label for="user-name">Full Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone_iphone</i>
                        <input id="user-phone" type="tel" class="validate profile-input" phone="phoneNum" required>
                        <label for="user-phone">Phone Number</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">place</i>
                        <input id="user-city" type="text" class="validate profile-input" name="city" required>
                        <label for="user-city">City</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">pin_drop</i>
                        <input id="user-state" type="text" class="validate profile-input" name="state" required>
                        <label for="user-state">State</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">public</i>
                        <input id="user-country" type="text" class="validate profile-input" name="country" required>
                        <label for="user-country">Country</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">date_range</i>
                        <input id="user-birthday" type="text" class="validate profile-input" name="birthday" required>
                        <label for="user-birthday">Birthday (MM/DD/YYYY)</label>
                    </div>                      
                    <div class="col s12" align="center">
                        <a class="waves-effect waves-light btn profile disabled" disabled>update</a>
                    </div>
                </div>
            </form>
        </div>
    {{/unless}}
    </div>
</section>
{{!-- external js file link here --}}
{{!-- cut everything inside script tag and put in an external js file to be loaded above --}}
<script>
    var user = {
        profile: true,
        birthday: null,
        fullName: null,
        city: null,
        state: null,
        country: null,
        phoneNum: null
    }


$(".profile-input").keyup( function (e) {
    var name = e.target.name
    var value = e.target.value

    value = value.trim();

    if(name === "fullName") value = value.toLowerCase();
    if(name === "phoneNum") value = value;
    if(name === "city") value = value.toLowerCase();
    if(name === "state") value = value.toLowerCase();
    if(name === "country") value = value.toLowerCase();
    if(name === "birthday") {
        value = moment(value).format("MM/DD/YYYY")
    }

    user[name] = value

    enableBtns()
})

function enableBtns() {
    var count = 0;
    for(key in user){
        if(user[key] !== null) {
           count++;
        } else {
             $(".profile").addClass("disabled").attr("disabled", true);
        }
    }

    if(count === 7) {
        $(".profile").removeClass("disabled").attr("disabled", false);
    }

}

$(".profile").click(function (e) {
    e.preventDefault()
    var isValid = $("#profile-form")[0].checkValidity()
    if (isValid) {
       
       authenticateUser()
       
    } else {

    }
})

function authenticateUser(){
    $.ajax({
    url: '/api/user',
    type: 'PUT',
    data: user,
    success: function(result) {
        $("#profile-form").addClass("hide");
        $("#fullName").text(user.fullName);
        $("#birthday").text(user.birthday);
        $("#profile-data").removeClass("hide")
    }
    });
}
</script>
