<section id="home" class="spacer">
    <div class="content container" align="center">
        <h2>Star Spangled Sangria</h2>
        <img src="assets/img/tall.png">
        <p>Cocktail of <span id="month"></span></p>
        <p>A melting pot of strawberries, blueberries and pineapple chilled in vodka and Cointreau with white wine, juice and simple syrup. Sparkling wine on top makes it perfect for an All-American sunny day.</p>
        
        <a class="waves-effect waves-light btn" href="/signup">Learn More about this cocktail</a>
        
    </div>

</section>
{{> modal}}
<script src="assets/js/legalPrompt.js"></script>
<script>

    var month = moment().format("MMMM YYYY");
    $("#month").text(month)
</script>