<section id="home" class="spacer">
  <div class="container" align="center" id="userHead">
    <div class="row">
      <div class="col s12">
        <h1>{{msg}}</h1>
        <h2>Search For Cocktails!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <input type="text" id="drinkSearch" class="form-control" aria-describedby="example-text"
              placeholder="Search for your favorite Cocktails!">
          </div>
          <br>
          <br>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container" align="center" id="userFeatured">
    <h3>Cocktails:</h3>
    <div id="examples"></div>
  </div>





</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>


  $(document).ready(function () {


    $("#submit").on("click", function (event) {
      event.preventDefault();
      var input = $("#drinkSearch").val();
      console.log(input);
      var URL = "https://www.thecocktaildb.com/api/json/v1/1/search.php?s=" + input;
      if (input === "") {
        URL = "https://www.thecocktaildb.com/api/json/v1/1/search.php?s=margarita";
      }

      console.log(URL)
      console.log(input);
      $.ajax({

        method: "GET",
        url: URL
      }).then(function (response) {
        console.log(response.drinks[0]);
        var drinks = response.drinks;


        for (var i = 0; i < drinks.length; i++) {


          let display = `
            <div class="row">
             <div class="col s12" align="center">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">${drinks[i].strDrink}</span>
                    <img src="${drinks[i].strDrinkThumb}" alt="Drink" height="150" width="150">
                    <p>${drinks[i].strInstructions}</p>
                  </div>
                </div
              </div>
            </div
          `
          $("#examples").prepend(display);
        }

      })
    })

  })

</script>